<div>
  <h2>
    <strong>{{ hero.name | uppercase }}</strong>
  </h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <div>
    <span>Combat: </span
    ><input
      type="number"
      name="combat-input"
      id="combat"
      [(ngModel)]="hero.powerStats.combat"
      min="0"
      #statsInput
    />
  </div>
  <div>
    <span>Speed: </span
    ><input
      type="number"
      name="speed"
      id="speed"
      [(ngModel)]="hero.powerStats.speed"
      min="0"
      #statsInput
    />
  </div>
  <div>
    <span>Intelligence: </span
    ><input
      type="number"
      name="intelligence"
      id="intelligence"
      [(ngModel)]="hero.powerStats.intelligence"
      min="0"
      #statsInput
    />
  </div>
  <div>
    <span>Strength: </span
    ><input
      type="number"
      name="strength"
      id="strength"
      [(ngModel)]="hero.powerStats.strength"
      min="0"
      #statsInput
    />
  </div>

  <app-hero-overall-rating
    [rating]="overallRatingService.calculateOverallRating(hero)"
  ></app-hero-overall-rating>
  <div class="go-to-hero mt-3">
    <a routerLink="hero/{{ hero.id }}">Go to hero card</a>
  </div>
</div>
