#combat,
#speed,
#intelligence,
#strength {
  margin-bottom: 9px;
  outline: none;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: #ffffff;
  opacity: 1;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
}
